<div class="row">
  <div class="col">
  <p *ngIf="!isChildrenLoaded">Select something from the cart</p>
  <p *ngIf="!resolvedData.loginStatus">{{resolvedData.message}}</p>
  <router-outlet></router-outlet>
  <!-- <div class="col">
    <p>Editing Mode: {{fruitName}}</p>
    </div>
<div class="col">
    <input type="text" class="form-control" placeholder="editing" [value]="fruitName" #fruitEditingInput>
    
</div>

<div class="col">
    <button class="btn btn-secondary" type="button" (click)="onSave(fruitEditingInput.value)">Save</button>

</div> -->
</div>
          
      </div>
