

.yellow {
    background-color:yellow;
}

.blue {
    background-color: blue;
}

.banana {
    background-color: black;
  }
  .apple {
    background-color: red;
  }
  .strawberry {
    background-color: pink;
  }